USE [master]
GO
/****** Objeto: Database [Belle_Croissant_Lyonnais] Fecha de script: 27/07/2026 04:08:42 p. m. ******/
CREATE DATABASE [Belle_Croissant_Lyonnais]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Belle_Croissant_Lyonnais', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Belle_Croissant_Lyonnais.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Belle_Croissant_Lyonnais_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Belle_Croissant_Lyonnais_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Belle_Croissant_Lyonnais].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Belle_Croissant_Lyonnais]
GO
/****** Objeto: Table [dbo].[Direccion] Fecha de script: 27/07/2026 04:08:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccion](
	[Direccion_ID] [int] IDENTITY(1,1) NOT NULL,
	[Lugar] [varchar](20) NULL,
	[Direccion] [varchar](45) NOT NULL,
	[Preferencia] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Direccion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Direccion_Usuario] Fecha de script: 27/07/2026 04:08:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccion_Usuario](
	[Direccion_ID] [int] NOT NULL,
	[Usuario_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Direccion_ID] ASC,
	[Usuario_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pedido] Fecha de script: 27/07/2026 04:08:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[Pedido_ID] [int] IDENTITY(1,1) NOT NULL,
	[Usuario_ID] [int] NOT NULL,
	[Fecha_Pedido] [varchar](50) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pedido_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pregunta] Fecha de script: 27/07/2026 04:08:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pregunta](
	[Pregunta_ID] [int] IDENTITY(1,1) NOT NULL,
	[Pregunta] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pregunta_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 27/07/2026 04:08:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Usuario_ID] [int] IDENTITY(1,1) NOT NULL,
	[Pregunta_ID] [int] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Apellido] [varchar](30) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Contraseña] [varchar](max) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Foto_Perfil] [varchar](150) NULL,
	[Suscripcion] [bit] NULL,
	[Metodo_Entrega] [bit] NULL,
	[Respuesta_Seguridad] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Usuario_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Direccion_Usuario]  WITH CHECK ADD FOREIGN KEY([Direccion_ID])
REFERENCES [dbo].[Direccion] ([Direccion_ID])
GO
ALTER TABLE [dbo].[Direccion_Usuario]  WITH CHECK ADD FOREIGN KEY([Usuario_ID])
REFERENCES [dbo].[Usuario] ([Usuario_ID])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([Usuario_ID])
REFERENCES [dbo].[Usuario] ([Usuario_ID])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([Pregunta_ID])
REFERENCES [dbo].[Pregunta] ([Pregunta_ID])
GO
USE [master]
GO
